<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


    <title>IBus-MIO Settings</title>
    <style>
    #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    margin: 10px 20px 10px;
    text-align: right;
    right: 0px;
    }
    .remrem{
        margin-bottom:0.7rem;
    }
    </style>
</head>
<body>
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#general" class="nav-link" data-toggle="tab">全般</a></li>
            <li class="nav-item"><a href="#pwdmgr"  class="nav-link" data-toggle="tab">PwdMgr</a></li>
            <li class="nav-item"><a href="#autodic" class="nav-link" data-toggle="tab">自動辞書</a></li>
            <li class="nav-item"><a href="#userdic" class="nav-link" data-toggle="tab">ユーザー辞書</a></li>
            <li class="nav-item"><a href="#about"   class="nav-link active" data-toggle="tab">About</a></li>
        </ul>
    </header>
    <main role="main" class="container">
        <!-- <div class="starter-template"> -->
                <!--タブのコンテンツ部分-->
                <div class="tab-content">
                <div id="general" class="tab-pane">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo1.jpg" alt="" class="img-fluid">
                </div>
                <div id="pwdmgr" class="tab-pane">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo2.jpg" alt="" class="img-fluid">
                </div>
                <div id="autodic" class="tab-pane">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/photo3.jpg" alt="" class="img-fluid">
                </div>
                <div id="userdic" class="tab-pane">
                        <div class="starter-template mx-auto text-center"> 
                            <div style="margin: 10px 0px 10px 0px;">
                                <button type="button" class="btn btn-outline-primary" style="margin:0px 5px 0px">import</button>
                                <button type="button" class="btn btn-outline-primary" style="margin:0px 5px 0px">export</button>
                            </div>


<!-- component template -->
<script type="text/x-template" id="grid-template">
    <table class="table table-sm" style="margin-top: 20px;">
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }"
            scope="col"
            >
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(entry,trindex) in filteredData">
          <td v-for="key in columns"
          contenteditable
          @click.shift.exact="selectanddeletethisentry(entry,trindex)"
          @click.ctrl.exact="changevalue"
          @blur="savedb(entry)"
          >
            {{entry[key]}}
          </td>
        </tr>
      </tbody>
    </table>
  </script>
  
  <!-- demo root element -->
  <div id="demo">
    <form id="search">
      Search <input name="query" v-model="searchQuery">
    </form>
    <demo-grid
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </demo-grid>
  </div>
  <script>
        // register the grid component
    Vue.component('demo-grid', {
      template: '#grid-template',
      props: {
        data: Array,
        columns: Array,
        filterKey: String
      },
      data: function () {
        var sortOrders = {}
        this.columns.forEach(function (key) {
          sortOrders[key] = 1
        })
        return {
          sortKey: '',
          sortOrders: sortOrders
        }
      },
      computed: {
        filteredData: function () {
          var sortKey = this.sortKey
          var filterKey = this.filterKey && this.filterKey.toLowerCase()
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (filterKey) {
            data = data.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
              })
            })
          }
          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
            })
          }
          return data
        }
      },
      filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        }
      },
      methods: {
        sortBy: function (key) {
          this.sortKey = key
          this.sortOrders[key] = this.sortOrders[key] * -1
        },
        selectanddeletethisentry: function(key,i){
            console.log(demo)
        },
        savedb: function(entry){
            console.log("write save code")
        },
        // changevalue: function(value,key,ev){
        changevalue: function(ev){
            //document.getElementById('').getAttribute('sampleAttr');
            console.log(ev)
            ev.target.parentElement.className="bg-info"
            demo.gridData.splice(2,1)
            console.log(ev.target.parentElement.className)
            //this.contenteditable='true'
        }
      }
    })
    
    // bootstrap the demo
    var demo = new Vue({
      el: '#demo',
      data: {
        searchQuery: '',
        gridColumns: ['yomi', 'word','hinsi','comment','freq'],
        gridData: [
          { yomi: 'Chuck Norris', word: 'a', hinsi:'1',comment:'test',freq:'0.6' },
          { yomi: 'Bruce Lee', word: 'b',hinsi:'1',comment:'above',freq:'0.8' },
          { yomi: 'Jackie Chan', word: 'c',hinsi:'1',comment:'forget',freq:'0.4' },
          { yomi: 'Jet Li', word: 'd',hinsi:'1',comment:'aaa',freq:'0.3' }
        ]
      }
    })
    </script>
<!-- 
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                          </tr>
                                        </tbody>
                                      </table> -->
                        </div>
                </div>
                <div id="about" class="tab-pane active">
                                <div style="margin: 10px 0px 0px 0px;" class="starter-template mx-auto text-center"> 
                                    <h1>IBus-MIO</h1>
                                    <p class="font-weight-light text-center text-muted">saikou ni kawaii tundere girl.</p>
                                </div>
                                
                                <img style="width: 30%; height: 30%;" src="https://pbs.twimg.com/profile_images/1543618362/14___13___34___400x400.png" class="rounded mx-auto d-block" alt="...">
                                <p class="text-center">如月 澪</p>
                                <p class="text-center text-primary remrem"><a href="https://github.com/lv7777/ibus-mio">Go To Repo</a></p>
                                <p class="text-center text-primary remrem"><a href="https://github.com/lv7777/ibus-mio">User's Manual</a></p>
                                <p class="text-center text-primary remrem"><a href="https://github.com/lv7777/ibus-mio">Buy a Coffee for Developer</a></p>
                        <!-- </main> -->
                    </div>
                </div>
            <!-- </div> -->
        </main>
        <footer id="footer">
            <button type="button" class="btn btn-outline-primary" style="margin:0px 5px 0px">Save&Close</button>
            <button type="button" class="btn btn-outline-secondary" style="margin:0px 5px 0px;">Cancel</button>
        </footer>
</body>
</html>